[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Introdructor
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Introdructor
	label-Verified = -1..+1 group user/Introdructor
	push = group user/Introdructor
	read = group user/Introdructor
	rebase = group user/Introdructor
	removeReviewer = group user/Introdructor
	submit = group user/Introdructor
[access "refs/heads/*"]
	create = group user/Introdructor
	push = +force group user/Introdructor
	pushMerge = group user/Introdructor
	read = group user/Introdructor
[access "refs/tags/*"]
	push = group user/Introdructor
	push = +force group user/Introdructor
